
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00539e; /* Solid default background */
  overflow: hidden; /* Prevent scrollbars on the body */
}
